@define-mixin atsmall {
  @media (min-width: 530px){
    @mixin-content;
  }
}

@define-mixin atmedium {
  @media (min-width: 800px){
    @mixin-content;
  }
}

@define-mixin atlarge {
  @media (min-width: 1200px){
    @mixin-content;
  }
}

@define-mixin clearfix{
  &::after {
    content: "";
    clear:both;
    display: table;
  }
}
