.large-hero {
  border-bottom: 10px solid $mainblue;
  position: relative;

  &__image{
    display: block;
  }


  &__text-content {
    padding-top: 88px;
    position: absolute;
    top:50%;
    left:0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);

    @mixin atmedium{
      padding-top: 60px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainblue;
    font-size: 2.4rem;
    margin: 0;

    @mixin atsmall {
      font-size: 4.8rem;
    }
  }

  &__subsitle {
    font-weight: 300;
    color: $mainblue;
    font-size: 1.5rem;
    margin: 0;

    @mixin atsmall {
      font-size: 2.9rem;
    }

  }


  &__description {
    color: #FFF;
    font-size: 1.1rem;;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @mixin atmedium {
      font-size: 1.875rem;
    }

  }

}
