.primary-nav {

  padding-top: 10px;

  @mixin atmedium{
    padding-top: 0;
  }

  &--pull-right {
    @mixin atmedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    padding-right: 7px;
    display: inline-block;
    @mixin atmedium{
      padding-right: 20px;
      float: left;
      display: block;
    }
  }

  li:last-child{
    padding-right: 0;

    @mixin atmedium{
      padding-right: 20px;
    }
  }

  a {
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    display: block;
    font-size: .8rem;
    padding: 5px 8px;
    background-color: rgba($mainblue, .5);

    @mixin atmedium {
      padding: 12px 0;
      font-size: 1rem;
      background-color: transparent;
    }
  }
}
